<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-offset-4">
    {{#each posts}}
    <div class="post-item">
      <div class="post-content">
        <a href="/posts/{{this._id}}">
        <h1 class="posts-title" id="{{this._id}}">{{this.title}}</h1>
            </a>
        <div class="post-item-info">
          <h3 class="post-item-subreddit">{{this.author}}</h3>
        </div>
        <p class="post-item-content">{{this.content}}</p>
      </div>
      <div class="voting">
        <button type="button" name="upvote">Upvote</button>
        <button type="button" id="downvote" name="downvote">Down Vote</button>
      </div>
    </div>
      <br />
    {{/ each}}
    <script type="text/javascript" src="js/posts.js"></script>
    </div>
  </div>
</div>
